<app-cuenta></app-cuenta>

<div class="row">
    <div class="col-xl-5">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Transferencias Bancarias</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 p-4">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" id="cuenta" name="cuenta" placeholder="Cuenta Origen"  (keyup)="origenTransferencia($event)">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="cuenta" name="cuenta" placeholder="Cuenta Destino"  (keyup)="destinoTransferencia($event)">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" id="username" name="username" placeholder="Monto a Transferir"  (keyup)="montoTransferencia($event)">
                                        </div>
                                        <input type="button" (click)="realizarTransferencia()" class="btn btn-primary" value="Realizar Transferencia">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Historial de Transferencias</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-6 p-4">
                                <input type="button" (click)="getPagos()" class="btn btn-primary" value="Pagos">
                            </div>
                            <div class="col-md-6 p-4">
                                <input type="button" (click)="getCobros()" class="btn btn-primary" value="Cobros">
                            </div>

                            <div class="col-12">
                                <h4>{{titleTrans}} </h4>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Origen</th>
                                        <th scope="col">Destino</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor = "let data of historialTrans;  let i = index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{data.monto}}</td>
                                        <td>{{data.fecha.replace('T',' ').replace(':00.000Z','')}}</td>
                                        <td>{{data.origen}}</td>
                                        <td>{{data.destino}}</td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-xl-7">
        <div class="row">
            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Consultar Saldo</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 p-4">
                                    <form>
                                        <div class="form-group">
                                            Saldo Disponible:
                                        </div>
                    
                                        <div class="form-group">
                                            <input disabled type="text" id="saldoActual" name="saldoActual" placeholder="{{saldoActual}}">
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Solicitar Crédito</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-12 p-4">
                                    <form>
                                        <div class="form-group">
                                            <input type="text" id="credit" name="credit" placeholder="Monto de crédito a solicitar." (keyup)="credit($event)">
                                        </div>
                    
                                        <div class="form-group">
                                            <input type="text" id="description" name="description" placeholder="Descripción" (keyup)="description($event)">
                                        </div>
                                        <input type="button" (click)="solicitarCredito()" class="btn btn-primary" value="Solicitar Crédito">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="wrapper mt-3">
                    <h4>Historial de Créditos</h4>
                    <div class="formContent">
                        <div class="row">
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getPendientes()" class="btn btn-primary" value="Pendientes">
                            </div>
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getAprobados()" class="btn btn-primary" value="Aprobados">
                            </div>
                            <div class="col-md-4 p-4">
                                <input type="button" (click)="getPagados()" class="btn btn-primary" value="Pagados">
                            </div>

                            <div class="col-12">
                                <h4>{{titleCred}} </h4>
                                <table class="table">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Monto</th>
                                        <th scope="col">Fecha</th>
                                        <th scope="col">Descripción</th>
                                        <th scope="col">Fecha Límite</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor = "let data of historialCred;  let i = index">
                                        <th scope="row">{{i}}</th>
                                        <td>{{data.monto}}</td>
                                        <td>{{data.fechapedido.replace('T',' ').replace(':00.000Z','').replace('06:00','')}}</td>
                                        <td>{{data.descripcion}}</td>
                                        <td *ngIf="data.fechafinal != null; else notShow">{{data.fechafinal.replace('T',' ').replace(':00.000Z','').replace('06:00','')}}</td>
                                        <ng-template #notShow>
                                            <td>---</td>
                                        </ng-template>
                                        <td *ngIf="data.estado == '1'"><input type="button" (click)="pagarSolicitud(data)" class="btn btn-primary" value="Pagar"></td>
                                      </tr>
                                    </tbody>
                                  </table>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



